<div class="row">

    <div class="col-md-5">
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7">

        <app-recipe-detail
            [recipeSelected]="recipeSelected"
            *ngIf="recipeSelected; else infotext"
        >
        </app-recipe-detail>

        <ng-template #infotext>
            <div class="alert alert-info" role="alert">
                <p><strong>Please</strong> select a Recipe!</p>
            </div>
        </ng-template>

    </div>

</div>